@use '../../vars' as vars;

.accordion {
    background-color: vars.$dark0;
    width: 500px;
    margin: 0;
    .accordionSummary {
        background-color: vars.$dark3;

    }
    .accordionDetails {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: vars.$dark2;
        // box-shadow:  0 0 20px 10px white;
        // max-height: 300px;
        scroll-behavior: auto;
        overflow: scroll;



    }
    .icon {
        color: vars.$textColor;
        font-size: 2rem;
    }
    h1 {
        color: vars.$textColor;
    }
}