$corners:10px;

.inner, .outer {
    border-radius: $corners;
    width: fit-content;
    // margin: $corners;
    // padding: 5px;
}
.outer {
    // box-shadow: 0 0 $corners 0 #ffffffa8;
    margin: calc($corners);
    // padding: $corners;
    outline: 1px #000 solid;
    background-color: #ddd;

    .inner {
        // box-shadow: inset 0 0 $corners 0 rgba(0,0,0,0.66);
        padding: $corners;
    // border: 1px #999 solid;
    p, h2{
        margin: 5px 0 5px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
}